{% extends 'elementos/estructura.html' %}

{% block contenido %}
    {% load crispy_forms_tags %}
    <div class="container border bg-warning p-4">
        <h1>AGREGAR EVENTO</h1><hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <br><input type="submit" value="AGREGAR" class="btn-pink form-control">
        </form>
    </div><br><br><br><br><br>


    <footer class="footer py-2 bg-dark text-center text-white fixed-bottom">
        <div class="container">
            FUNDACIÓN PROTECTORA DE ANIMALES APACH - 2023 © COPYRIGHT
        </div>
    </footer>
    
{% endblock %}