{% extends 'elementos/estructura.html' %}
{% block contenido %}
<div class="p-3">
  <div class="container text-center">
    <div class="card bg-warning w-50 mx-auto text-dark mb-3 p-3">
        <h2>Quienes somos?</h2><hr>
        <p class="lead">
          Nuestro grupo es una asociación de personas que tienen una causa en común:<br> <b>EL AMOR INCONDICIONAL POR LOS ANIMALES DOMESTICOS Y SILVESTRES.</b><br> Aclaramos que nuestra tarea es desde el corazón y solo a voluntad.<br> Esta Agrupación nace a fines del año 2000 como una preocupación ciudadana por el cuidado de animales de la calle (perros y gatos) entonces éramos la llamada informalmente:<br> <b>"SOCIEDAD PROTECTORA DE ANIMALES"</b>. <br> el mes de septiembre del 2010 fuimos reconocidos por <em>APACH RESISTENCIA</em>, para trabajar en nombre de<br><b>APACH DELEGACION CHARATA</b>.
        </p>
    </div>
    <div class="card bg-warning w-50 mx-auto text-dark mb-3 p-3">
        <h2>Objetivos</h2><hr>
        <div class="lead">
          <li align="left">
            Difundir, promover y proteger los derechos de los animales.
          </li>
          <li align="left"> 
            Fomentar la tenencia responsable.
          </li>
          <li align="left">
            Inculcar en el ser humano el amor por los animales domésticos o salvajes.
          </li>
          <li align="left">
            Difundir la esterilización como único método ético de control de la reproducción de la fauna urbana.
          </li>
          <li align="left">
            Realizar campañas de desparasitaciones, castraciones y sanidad a grupos caninos y felinos vulnerables, a través del asesoramiento de un profesional veterinario.
          </li>
          <li align="left">
            Lograr el interés de otros grupos sociales en colaborar en la ayuda de los animales.
          </li>
        </div>
    </div>
    <div class="card bg-warning w-50 mx-auto text-dark mb-3 p-3">
      <h2>Importante</h2><hr>
      <p class="lead">Rechazamos el hacimiento animal ya sea en guarderías caninas y felinas; por el contrario creemos que la <b>castración</b> es el método más efectivo y seguro para lograr el control del crecimiento poblacional de animales no deseados.</p>
    </div>
    <body style = "background-color:#fff8dc;"></body>
  </div>
</div>


<footer class="footer py-2 bg-dark text-center text-white fixed-bottom">
  <div class="container">
      FUNDACIÓN PROTECTORA DE ANIMALES APACH - 2023 © COPYRIGHT
  </div>
</footer>

{% endblock %}