{% extends 'elementos/estructura.html' %}
{% block contenido %}
    {% load crispy_forms_tags %}
    <div class="container rounded border p-5 bg-dark text-white">
        <h1>REGISTRAR</h1><hr>
        <form class="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="REGISTRAR" class="btn-warning form-control">
        </form>
    </div><br><br><br><br>



    <footer class="footer py-2 bg-dark text-center text-white fixed-bottom">
        <div class="container">
            FUNDACIÓN PROTECTORA DE ANIMALES APACH - 2023 © COPYRIGHT
        </div>
    </footer>
    
{% endblock %}

